.arrow {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  z-index: 10;
}

.arrow.left {
  left: 5%;
}

.arrow.right {
  right: 5%;
}

.artist-image {
  border-radius: 50%;
  height: 150px;
  margin-bottom: 5px;
  object-fit: cover;
  width: 150px;
}

.artist-name {
  font-size: 24px;
  margin-bottom: 5px;
}

.artist-profile {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  opacity: 0;
  padding: 20px;
  position: relative;
  transition: opacity 0.5s;
  z-index: 10;
}

.artist-profile.visible {
  opacity: 1;
}

.bounty-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  padding: 5px;
}

body {
  background-image: url("/images/background-main.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

.bounty-options {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.button-class {
  animation: pulsate 1s infinite, gradientShift 3s infinite;
  background: linear-gradient(45deg, #f06, #9f6);
  border-radius: 50%;
  border: none;
  box-shadow: 0px 5px 0px #ccc;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 300px;
  outline: none;
  position: relative;
  transition: background-color 0.3s;
  transform: skewX(-5deg);
  width: 300px;
}

.button-class:active {
  animation: shake 0.5s;
  box-shadow: 0px 2px 0px #aaa;
  transform: skewX(-5deg) scale(0.98);
}

.button-class:hover {
  background-color: blue;
  transform: skewX(-5deg) scale(1.05);
}

.button-class::after {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  content: "";
  height: 0;
  left: 50% !important;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50% !important;
  transform: translate(-50%, -50%) scale(0) !important;
  transition: opacity 0.6s, width 0.6s, height 0.6s, transform 0.6s;
  width: 0;
}

.button-class:active::after {
  height: 600px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  width: 600px;
}

.button-class::before {
  animation: pulsate 1.5s infinite;
  border: 2px solid currentColor;
  border-radius: 50%;
  bottom: -10px;
  content: "";
  left: -10px;
  position: absolute;
  right: -10px;
  top: -10px;
}

.clear-button {
  background-color: #f06;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.clear-button:hover {
  background-color: #ff3333;
}

.confirmation-box {
  position: relative;
  z-index: 10000;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.custom-confirm-button {
  background-color: #007bff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px 20px;
}

.custom-twitter-share-button {
  margin-top: 20px;
}

.done-button {
  margin-top: 20px;
}

.dot {
  background-color: #ccc;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.dot.active {
  background-color: #333;
}

.emoji-clicked {
  transform: scale(1.5);
  transition: transform 0.2s;
}

.emoji-counter {
  font-size: 12px;
  position: absolute;
  right: 5%;
  top: 5%;
}

.emoji-feedback {
  animation: feedbackAnimation 1s forwards;
  bottom: 50%;
  font-size: 12px;
  left: 50%;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
}

.emojis {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex: 2;
  margin: 20px 0;
  position: relative;
}

.emojis button {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  flex: 1;
  margin: 0 5px;
  padding: 5px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: dotted;
}

.emojis button:hover {
  transform: scale(1.1);
}

.emojis button:active {
  transform: scale(1.5);
}

@keyframes feedbackAnimation {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-10px);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.information-box {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  transition: opacity 0.5s;
}

.integrations-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.integrations-list a {
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.integrations-list a:hover {
  background-color: #555;
}

.leaderboard {
  border: 0px dashed #ccc;
  border-radius: 5px;
  padding: 10px;
}

.leaderboard div {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.leaderboard div:last-child {
  border-bottom: none;
}

.leaderboard div button {
  background-color: #f00; /* Make the remove button red */
  color: #fff;
  border: none; /* Remove the default border */
  border-radius: 5px; /* Round the corners */
  padding: 5px 10px; /* Add some padding */
  cursor: pointer;
}

.leaderboard div button:hover {
  background-color: #c00;
}

.payment-dialog {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.payment-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.payment-dialog-overlay.open .confirmation-box {
  opacity: 1;
}

.send-tip-button {
  background-color: #4caf50;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0.5px auto;
  padding: 10px 20px;
}

.set-bounty-button {
  background-color: #0c2ed7;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 1px auto;
  padding: 10px 20px;
}

.song a {
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.song a:hover {
  background-color: #555;
}

.song-dropdown {
  margin-top: 10px;
  width: auto;
  flex: 1;
  margin-right: 10px;
  padding: 5px;
}

.song-emoji-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.submit-row button {
  flex: 1;
}

.submit-row input {
  flex: 3;
  margin-right: 10px;
}

.tally-box {
  align-items: center;
  display: flex;
  margin: 10px 0;
}

.tip-option {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  width: 75px;
}

.tip-option:hover {
  background-color: #f5f5f5;
}

.tip-option span {
  font-size: 100%;
  margin-top: 5px;
}

.tipping-options {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.total-amount-box {
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
  padding: 10px;
}

@media (max-width: 320px) {
  .arrow {
    font-size: 1.2rem;
    width: 25px;
  }

  .arrow.left {
    left: 10%;
  }

  .arrow.right {
    right: 10%;
  }
}

@media (max-width: 768px) {
  .arrow {
    width: 200px;
    font-size: 1rem;
  }

  .arrow.left {
    left: 20%;
  }

  .arrow.right {
    right: 20%;
  }

  .RoleSelection h4 {
    font-size: 2em;
  }
}
