body {
    background-image: url('/images/background-main.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    height: 100vh;
}

.App h1 {
    margin-bottom: 20px; /* Space between the h1 and the button */
    /* Add any other styles you want for the h1 here */
}

.button-class {
    animation: pulsate 1s infinite, gradientShift 3s infinite;
    border-radius: 50%;
    width:300px; 
    height: 300px; 
    position: relative; /* Needed to position the ripple correctly */
    border: none;
    background: linear-gradient(45deg, #f06, #9f6);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    box-shadow: 0px 5px 0px #ccc;
    transform: skewX(-5deg);
}

.button-class:active {
    box-shadow: 0px 2px 0px #aaa;
    transform: skewX(-5deg) scale(0.98);
}

.button-class:hover {
    background-color: blue;
    transform: skewX(-5deg) scale(1.05);
}

.button-class::before, .button-class::after {
    content: '';
    position: absolute;
    border: 2px solid currentColor;
    border-radius: 50%;
    animation: pulsate 1.5s infinite;
}

.button-class::before {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
}

.button-class::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    pointer-events: none; /* So it doesn't interfere with button interactions */
    transition: opacity 0.6s, width 0.6s, height 0.6s, transform 0.6s;
}

.button-class:active::after {
    width: 600px; /* Slightly larger than the button */
    height: 600px;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

@keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

